<div class="modal fade" id="createBucketModal" tabindex="-1" role="dialog" aria-labelledby="createBucketModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createBucketModalLabel">New Bucket</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if(typeof errors != 'undefined') { %>
          <% errors.forEach(function(error) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <%= error.msg %>
            </div>
          <% }); %>
        <% } %>
        <form action="/bucket" method="POST" class="needs-validation" novalidate>
          <div class="form-group">
            <label for="label">Label</label>
            <input
              type="text"
              id="label"
              name="label"
              class="form-control"
              placeholder="Enter Label"
              required
            />
            <div class="invalid-feedback">
              Invalid Label.
            </div>
          </div>
          <div class="form-group pb-2">
            <label for="budget">Monthly Budget</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">$</div>
              </div>
              <input 
                type="number"
                id="budget"
                name="budget"
                class="form-control"
                placeholder="Enter Monthly Budget"
                required>
                <div class="invalid-feedback">
                  Invalid Budget.
                </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="mt-4">Dashboard</h1>
      <p class="lead mb-3">Welcome <%= user.first_name + ' ' + user.last_name %></p>
      <% if(success_msg != '') { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= success_msg %>
        </div>
      <% } %>
    </div>
  </div>

  <% if ( typeof buckets !== 'undefined') { %>
    <h3>Buckets</h3>
    <div class="row mb-4">
      <% buckets.forEach(function(bucket){ %>
        <div class="col-md-3 mb-4">
          <div class="card h-100">
            <div class="card-header">
              <button type="button" class="close delete-bucket" aria-label="Delete Bucket" data-label="<%-bucket.label%>">
                <span aria-hidden="true">&times;</span>
              </button>
              <h5 class="card-title m-0"> <%- bucket.label %></h5>
            </div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Budget: $<%- bucket.budget%></h6>
            </div>
          </div>
        </div>
      <% }); %>

      <div class="col-md-3 mb-4">
        <div class="card h-100 d-flex">
          <div class="card-body text-center align-items-center d-flex justify-content-center hover-pointer add-card" data-toggle="modal" data-target="#createBucketModal">
            <i class="w-100 fas fa-plus fa-3x fa-primary"></i>
          </div>
        </div>
      </div>
        
    </div>
  <% } %>

  <% if ( typeof transactions !== 'undefined') { %>
    <h3>Transactions</h3>
    <div class="row mb-4">
      <% transactions.forEach(function(transaction){ %>
        <div class="col-md-3 mb-4">
          <div class="card h-100">
            <div class="card-header">
              <button type="button" class="close delete-transaction" aria-label="Delete Transaction" data-label="<%-transaction.label%>">
                <span aria-hidden="true">&times;</span>
              </button>
              <h5 class="card-title m-0"> <%- transaction.label %></h5>
            </div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Amount: $<%- transaction.amount%></h6>
            </div>
            <div class="card-footer">
              <h6>assign to:</h6>
              <% if (typeof buckets !== 'undefined') { %>
                <% buckets.forEach(function(bucket){ %>
                  <span class="badge badge-primary badge-transaction-assign" data-transactionLabel="<%- transaction.label %>" data-bucketLabel="<%- bucket.label %>"><%- bucket.label %></span>
                <% }); %>
              <% } %>
            </div>
          </div>
        </div>
      <% }); %>

      <!-- <form action="/transaction" method="post">
        <button type="submit" class="btn btn-primary">Add Dummy Transaction</button>
      </form> -->

      <div class="col-md-3 mb-4">
        <form id="addTransaction" action="/transaction" method="POST"></form>
          <a href="javascript:{}" onclick="document.getElementById('addTransaction').submit();">
            <div class="card h-100 d-flex">
              <div class="card-body text-center align-items-center d-flex justify-content-center hover-pointer add-card">
                <i class="w-100 fas fa-plus fa-3x fa-primary"></i>
              </div>
            </div>
          </a>
        </form>
      </div>

    </div>
  <% } %>
</div>

<% if ( typeof scripts !== 'undefined') { %>
  <% scripts.forEach(function(script){ %>
      <script src="/<%- script %>"></script>
  <% }); %>
<% } %>