<div class="modal fade" id="createBucketModal" tabindex="-1" role="dialog" aria-labelledby="createBucketModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createBucketModalLabel">New Bucket</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if(typeof errors != 'undefined') { %>
          <% errors.forEach(function(error) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <%= error.msg %>
            </div>
          <% }); %>
        <% } %>
        <form action="/bucket" method="POST" class="needs-validation" novalidate>
          <div class="form-group">
            <label for="label">Label</label>
            <input
              type="text"
              id="label"
              name="label"
              class="form-control"
              placeholder="Enter Label"
              required
            />
            <div class="invalid-feedback">
              Invalid Label.
            </div>
          </div>
          <div class="form-group pb-2">
            <label for="budget">Monthly Budget</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">$</div>
              </div>
              <input 
                type="number"
                id="budget"
                name="budget"
                class="form-control"
                placeholder="Enter Monthly Budget"
                required>
                <div class="invalid-feedback">
                  Invalid Budget.
                </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>

<header id="header" class="fixed-top dont-leave">
  <div class="container d-flex align-items-center">
    <a href="/" class="logo"><img class="mb-2" src="assets/img/moneylogowhite.png" alt="" ></a>
    <h1 class="logo mr-auto"><a href="/">Bucky</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/finance">Financial Advice</a></li>
        <li class="drop-down"><a href="">Settings</a>
          <ul>
            <li><a href="/user/logout">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </nav><!-- .nav-menu -->

    

  </div>
</header><!-- End Header -->

<div class="container-fluid top-78">
  <div class="row">
    <div class="col text-center">
      <h1 class="mt-4">Dashboard</h1>
      <p class="lead mb-3">Welcome <%= user.first_name + ' ' + user.last_name %></p>
      <div class="budget-info">
        <h6>Total Monthly Budget: $<%-user.monthly_budget%></h6>
        <h6>Monthly Budget Remaining: $<%-monthly_budget_remaining%></h6>
      </div>
      <% if(success_msg != '') { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= success_msg %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% } %>
    </div>
  </div>

  <% if ( typeof buckets !== 'undefined') { %>
    <h3>Buckets</h3>
    <div class="row mb-4">
      <% buckets.forEach(function(bucket){ %>
        <div class="col-md-3 mb-4">
          <div class="card h-100">
            <div class="card-header">
              <button type="button" class="close delete-bucket" aria-label="Delete Bucket" data-label="<%-bucket.label%>">
                <span aria-hidden="true">&times;</span>
              </button>
              <h5 class="card-title m-0"> <%- bucket.label %></h5>
            </div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Budget: $<%- bucket.budget %></h6>
              <h6 class="card-subtitle mb-2 text-muted">Remaining: $<%- bucket.remaining %></h6>
            </div>
            <% if (bucket['transactions'].length > 0) { %>
            <div class="card-footer text-muted">
              <div class="text-center">
                <a data-toggle="collapse" href="#<%- bucket.label %>" aria-expanded="false" aria-controls="<%- bucket.label %>">Transactions</a>
              </div>
              
              <div class="collapse" id="<%- bucket.label %>">
                <div class="container-fluid">
                  <div class="row">
                    <% bucket['transactions'].forEach(function(transaction){ %>
                    <div class="col-8 text-single-line">
                      
                        <%- transaction.label %> </br>
                      
                    </div>
                    <div class="col-4">
                      $<%- transaction.amount %> </br>
                    </div>
                    <% }); %>
                  </div>
                </div>
                  
              </div>

            </div>
            <% }; %>
          </div>
        </div>
      <% }); %>

      <div class="col-md-3 mb-4">
        <div class="card h-100 d-flex">
          <div class="card-body text-center align-items-center d-flex justify-content-center hover-pointer add-card" data-toggle="modal" data-target="#createBucketModal">
            <i class="w-100 fas fa-plus fa-3x fa-primary"></i>
          </div>
        </div>
      </div>
        
    </div>
  <% } %>

  <% if ( typeof transactions !== 'undefined') { %>
    <h3>Transactions</h3>
    <div class="row mb-4">
      <% transactions.forEach(function(transaction){ %>
        <div class="col-md-3 mb-4">
          <div class="card h-100">
            <div class="card-header">
              <button type="button" class="close delete-transaction" aria-label="Delete Transaction" data-label="<%-transaction.label%>">
                <span aria-hidden="true">&times;</span>
              </button>
              <h5 class="card-title m-0"> <%- transaction.label %></h5>
            </div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Amount: $<%- transaction.amount%></h6>
            </div>
            <div class="card-footer">
              <h6>assign to:</h6>
              <% if (typeof buckets !== 'undefined') { %>
                <% buckets.forEach(function(bucket){ %>
                  <span class="badge badge-primary badge-transaction-assign" data-transactionLabel="<%- transaction.label %>" data-bucketLabel="<%- bucket.label %>"><%- bucket.label %></span>
                <% }); %>
              <% } %>
            </div>
          </div>
        </div>
      <% }); %>

      <!-- <form action="/transaction" method="post">
        <button type="submit" class="btn btn-primary">Add Dummy Transaction</button>
      </form> -->

      <div class="col-md-3 mb-4">
        <form id="addTransaction" action="/transaction" method="POST"></form>
          <a href="javascript:{}" onclick="document.getElementById('addTransaction').submit();">
            <div class="card h-100 d-flex">
              <div class="card-body text-center align-items-center d-flex justify-content-center hover-pointer add-card">
                <i class="w-100 fas fa-plus fa-3x fa-primary"></i>
              </div>
            </div>
          </a>
        </form>
      </div>

    </div>
  <% } %>
</div>


<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart.js Line Chart</title>
    <!--Chart.js JS CDN--> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script> 
  </head>
  <body>

    <% if ( typeof buckets !== 'undefined' && typeof transactions !== undefined && buckets.length > 0) { %>
    <div class="container-fluid text-center">

        <div class="d-flex flex-column justify-content-center">
          <h2 class="chart-heading">Your Monthly Spending Breakdown!</h2>
          <canvas id="myChart2" class="d-flex justify-content-center"></canvas>
        </div>
      <% if ( typeof buckets !== 'undefined') { %>
        <% var serverBuckets = []; %>
        <% buckets.forEach(function(bucket){ %>
          <% serverBuckets.push(parseFloat(bucket.budget).toFixed(2) - parseFloat(bucket.remaining).toFixed(2)) %>
          <% }); %>
      <script>
        var clientBucketsjson = {};
        var clientBuckets = {};
        clientBucketsjson = '<%- JSON.stringify(buckets) %>';
        clientBuckets = JSON.parse(clientBucketsjson)
        var bucketNames = [];
        var clientRemains = [];
        clientRemains = '<%- JSON.stringify(serverBuckets) %>';
        clientRemains = JSON.parse(clientRemains);
        
        for (i =0; i < clientBuckets.length; i++){
          console.log(clientBuckets[i].label) 
          bucketNames.push(clientBuckets[i].label);
        };
      var ctx = document.getElementById('myChart2').getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'pie',
          data: {
              labels: bucketNames,
              datasets: [{
                label: 'My First Dataset',
                data: clientRemains,
                backgroundColor: [
                  'rgb(255, 99, 132)',
                  'rgb(54, 162, 235)',
                  'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
              }]
            },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
      </script>
      <% } %>

      <div class="d-flex flex-column justify-content-center">
        <h2 class="chart-heading">Your Previous Months Spending Summary</h2>
        <canvas id="myChart"></canvas>
      </div>

        <script>
          var ctx = document.getElementById('myChart').getContext('2d');
          var myChart = new Chart(ctx, {
              type: 'line',
              data: {
                labels: ["October", "November", "December", "January", "February", "March", "April"],
                datasets: [{ 
                    data: [86,114,106,106,107,111,133],
                    label: "Total",
                    borderColor: "#3e95cd",
                    backgroundColor: "#7bb6dd",
                    fill: false,
                  }, { 
                    data: [70,90,44,60,83,90,100],
                    label: "Spending",
                    borderColor: "#3cba9f",
                    backgroundColor: "#71d1bd",
                    fill: false,
                  }, { 
                    data: [10,21,60,44,17,21,17],
                    label: "Saving",
                    borderColor: "#ffa500",
                    backgroundColor:"#ffc04d",
                    fill: false,
                  }, { 
                    data: [6,3,2,2,7,0,16],
                    label: "Number of purchases",
                    borderColor: "#c45850",
                    backgroundColor:"#d78f89",
                    fill: false,
                  }
                ]
              },
            });
        </script>

    </div>
    <% } %>

  </body>
</html>

<!--
<script src="js/Chart.js"></script>
-->




<% if ( typeof scripts !== 'undefined') { %>
  <% scripts.forEach(function(script){ %>
      <script src="/<%- script %>"></script>
  <% }); %>
<% } %>